!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/todos.css')
    script(type="text/javascript", src="/javascripts/vendor/jquery-1.7.2.min.js")
    script(type="text/javascript", src="/javascripts/vendor/underscore-min.js")
    script(type="text/javascript", src="/javascripts/vendor/backbone-min.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/vendor/backbone.iobind.min.js")
    script(type="text/javascript", src="/javascripts/vendor/backbone.iosync.min.js")

  body
    != body